@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	font-family: "NanumSquareNeo", sans-serif;
}

@font-face {
	font-family: "NanumSquareNeo";
	src: url(../assets/fonts/NanumSquareNeoOTF-Bd.otf) format("opentype"),
		url(../assets/fonts/NanumSquareNeoOTF-Eb.otf) format("opentype"),
		url(../assets/fonts/NanumSquareNeoOTF-Hv.otf) format("opentype"),
		url(../assets/fonts/NanumSquareNeoOTF-Lt.otf) format("opentype"),
		url(../assets/fonts/NanumSquareNeoOTF-Rg.otf) format("opentype");
}

.video-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

.video-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
